* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
button {
  outline: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}
a:active,
a:hover {
  text-decoration: none;
  color: #666;
}

body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1500px;
}

.nav-menu {
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: #51d0de;
  position: relative;
}
.nav-logo {
  color: #bf4aa8;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 6px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.nav-link {
  padding-bottom: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  font-weight: 700;
  transition: linear 0.3s;
}
.nav-links a:hover {
  border-bottom: 2px solid #bf4aa8;
}
.burger {
  display: none;
  cursor: pointer;
}
.line {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.25s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  .nav-links {
    opacity: 0;
    position: absolute;
    right: 0;
    height: 93vh;
    top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #51d0de;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-active {
    transform: translateX(0%);
    opacity: 1;
  }
  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.promo {
  background: url("../image/ballerina-2878011_1920.jpg") no-repeat;
  box-sizing: border-box;

  font-family: "Muli", sans-serif;
  background-position: center;
}
.promo__wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100vh;
}
.promo__title {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 80px;
  color: #520d10;
}
.numbers {
  padding: 50px 0px 50px 0px;
}

.numbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.numbers__value {
  font-size: 25px;
}
.numbers__title {
  text-align: center;
}
.differences__box {
  justify-content: center;
  padding: 50px 0px 50px 0px;
}
.differences__title {
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: 800;
}
.differences__text {
  text-align: center;
}
.direction__title__wrapper {
  justify-content: center;
}
.direction__title_item {
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: 800;
}

.direction__wrapper {
  display: flex;
  padding-bottom: 50px;
}
.direction__text_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.direction__image {
  width: 100%;
}
.direction__text__title {
  text-align: center;
}
.direction__discription {
  text-align: center;
}

.team__title__wrapper {
  justify-content: center;
}
.team__title__item {
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: 800;
}

.team__item {
  padding-bottom: 30px;
}

.team__wrapper {
  justify-content: space-around;
}
.team__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team__info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.footer {
  padding: 30px 0px;
  background: rgb(25, 29, 44);
}
.prefooter__wrapper {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
}
.prefooter__title__wrapper {
  justify-content: center;
}
.prefooter__title__item {
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
  font-weight: 800;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  border-radius: 10px;
  padding: 20px;
  align-items: center;
  background-color: #cfcfc5;
}
.form__title {
  text-align: center;
}

.form input {
  padding: 10px;
  width: 80%;
  margin: 15px auto;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .direction__wrapper--yang {
    flex-direction: column-reverse;
  }
  .direction__image__wrapper {
    padding-bottom: 50px;
  }
}
